.titulo{
    text-align: center;
}

.container{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
}

#celda{
    padding: 10px;
    background-color: black;
    color: white;
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}